<p class="breadcrumb-container">
  <%= render_breadcrumbs :separator => ' / ' %>
</p>
<h1>My Trips</h1>

<section id="home-trips">
  <div class="container-my-trips-page">
    <h1>My Trips</h1>
      <% @trips.each do |trip| %>
        <div class="card-captain">
          <div>
            <div class="image">
              <img style="width:100%; object-fit: cover;"src="https://img.yqqlm.com/index/index/getInterUrl?uicrIvZQ=cc5a13776133d3338c3a880cb6528504" alt="">
            </div>
            <div class="card-info">
              <img id="avatar-image"src="https://images-na.ssl-images-amazon.com/images/I/719vNNdMaZL._SL1500_.jpg" style="width: 2.7rem;height: 2.7rem;"alt="">
              <h5><%= trip.name %></h5>
              <p class="trip-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
          </div>

          <div>
            <ul class="list-unstyled">
              <h6>See Pirates on your trip</h6>
                <% if current_user.is_captain %>
                  <% trip.bookings.each do |booking| %>
                    <%= booking.user.first_name %>
                      Status:
                      <%= booking.booking_status %>
                  <ul class="list-inline product-controls">
                      <% if booking.booking_status == "pending" %>
                        <li><%= link_to "accept", accept_booking_path(booking), class: 'btn btn-success rounded', method: :patch  %></li>
                        <li><%= link_to "decline", decline_booking_path(booking), class: 'btn btn-warning rounded', method: :patch  %></li>
                      <% elsif booking.booking_status == "accepted"  %>
                        <li><%= link_to "decline", decline_booking_path(booking), class: 'btn btn-warning rounded', method: :patch  %></li>
                      <% else %>
                        <li><%= link_to "accept", accept_booking_path(booking), class: 'btn btn-success rounded', method: :patch  %></li>
                      <% end %>
                  </ul>
                  <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
  </div>
</section>


