<p class="breadcrumb-container">
  <%= render_breadcrumbs :separator => ' / ' %>
</p>
<div class="container padding-form">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Create a new Trip</h1>
      <%= simple_form_for @trip do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :planet, collection: Planet.all, value_method: :id  %>
        <%= f.input :spaceship, collection: Spaceship.all, value_method: :id  %>
        <%= f.input :price %>
        <%= f.input :departure_date, as: :string, required: true, input_html: {class: "datepicker"} %>
        <%= f.input :arrival_date, as: :string, required: true, input_html: {class: "datepicker"} %>
        <%= f.input :photo, as: :file, input_html: { multiple: false } %>
        <%= f.submit class: 'btn btn-primary mt-3' %>
      <% end %>
    </div>

  </div>
</div>

