
<div class="container trip-container d-flex">

  <div class="container d-flex flex-column align-items-center justigy-content-center">
     <h1 class="trip-title"><%= @trip.name %></h1>
    <%= cl_image_tag @trip.photo.key, height: 600, width: 400, crop: :fill %>
    <%= link_to 'Back', :back %>
  </div>

  <div class="container trip-detail-card">
    <div class="trip-info">
      <%= render 'bookings/booking_form', booking: @booking, trip: @trip, new_booking: @new_booking %>
    </div>
    <div class="trip-info">
      <h3>About <%= @trip.planet.name %></h3>
      <%= cl_image_tag @trip.planet.photo.key, height: 200, width: 200, crop: :fill  %>
      <p>Coordinates: <%= @trip.planet.coordinates %></p>
      <p><%= @trip.planet.description %></p>
    </div>
    <div class="trip-info">
      <h3>About <%= @trip.spaceship.name %> </h3>
      <%= cl_image_tag @trip.spaceship.photo.key, height: 200, width: 200, crop: :fill  %>
      <p>Info: <%= @trip.spaceship.speciality %></p>
      <p>Capacity: <%= @trip.spaceship.capacity %> pirates</p>
    </div>
  </div>
</div>
<div class="container reviews-container">
  <h3> Trip <strong>Ratings</strong> </h3>
  <div class="review-card">
  <h4>This was a trip beyond imagination!</h4>
  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
  </div>
</div>
