
<nav id="navbar-primary" role="navigation">
  <ul class="nav navbar-nav">

    <div class="logo-div">
      <li>
        <%= link_to root_path do %>
        <%= render "./components/logo" %>
        <% end %>
      </li>
    </div>

    <div class="avatar-div">

      <% if !user_signed_in? %>
        <%= link_to "Log in", new_user_registration_path %>
      <% else %>
        <% if current_user.is_captain? %>

          <div class="dropdown">
            <a class="dropdown-toggle arrow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= render "./components/avatar" %>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "Create a new trip", new_trip_path, class:"dropdown-item" %>
              <%= link_to "my trips", new_trip_path, class:"dropdown-item" %>
              <a class="dropdown-item" href="#">Submenu item</a>
            </div>
          </div>




        <% else %>
          <%= link_to root_path  class: "avatar" do %>
            <%= render "./components/avatar" %>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </ul>
</nav>


