
  <nav id="navbar-primary" role="navigation">
      <ul class="nav navbar-nav">

        <div class="logo-div">
          <li>
            <%= link_to root_path do %>
              <%= render "./components/logo" %>
            <% end %>
          </li>
        </div>

        <div class="avatar-div">

          <% if !user_signed_in? %>
            <%= link_to "Log in", new_user_registration_path %>
          <% else %>
              <% if current_user.is_captain? %>
                <%= link_to new_trip_path  class: "avatar" do %>
                <%= render "./components/avatar" %>
                <% end %>
              <% else %>
                <%= link_to root_path  class: "avatar" do %>
                <%= render "./components/avatar" %>
                <% end %>
              <% end %>
          <% end %>

        </div>
      </ul>
</nav>



