<% if trip.captain == current_user %>
    <h2>Hi captain <%= current_user.first_name %>!</h2>
    <p><span class="text-primary"><%= trip.days_left %></span>  days left! </p>
    <p><span class="text-primary"><%= trip.users.count %> </span>  pirates has booked this trip!</p>
    <p>Total earnings: <i id="medal-icon" class="fab fa-bitcoin"></i> <%= number_with_delimiter(trip.earnings, delimiter: '.') %></p>
    <p><i  id="medal-icon" class="fas fa-plane-departure"></i> <%= trip.departure_date.to_formatted_s(:long) %></p>
    <p><i id="medal-icon" class="fas fa-plane-arrival"></i> <%= trip.departure_date.to_formatted_s(:long) %></p>
    <% if trip.need_approval %>
       <%= link_to "#{trip.need_approval} requets to approve", trips_path%>
    <% else %>
      <p>No pending requests</p>
    <% end %>

<% else %>

    <% if booking %>
      <% if booking.status  %>

        <h2>Booking <span class="text-success">confirmed!</span></h2>
        <p><%= trip.days_left %> days left! </p>
        <p><i  id="medal-icon" class="fas fa-plane-departure"></i> <%= trip.departure_date.to_formatted_s(:long) %></p>
        <p><i id="medal-icon" class="fas fa-plane-arrival"></i> <%= trip.departure_date.to_formatted_s(:long) %></p>
        <% if trip.reviews.size.positive? %>
            <p>
              <% trip.avarege_rating.times do%>
                <i id="active-star" class="fas fa-star"></i>
              <% end %>
              <% (5 - trip.avarege_rating).times do %>
                <i id="inactive-star" class="fas fa-star"></i>
              <% end %>
            </p>
        <% end %>
        <%= link_to 'Cancel booking', booking_path(booking), { method: :delete }  %>

      <% else %>

      <h2 class="text-warning">Pending <%= link_to trip_path(trip) do %>
         <i class="fas fa-retweet"></i>
         <% end %>
      </h2>
        <p>Captain <%= trip.captain.first_name %> <%= trip.captain.last_name %> needs to confirm your booking! </p>
        <p><%= trip.days_left %> days left! </p>
        <%= link_to 'Cancel booking', booking_path(booking), { method: :delete }  %>
      <% end %>

    <% else %>

        <h2>Book your trip to <strong class="text-primary"><%= trip.planet.name %></strong></h2>
        <p><i id="medal-icon" class="fab fa-bitcoin"></i> <%= number_with_delimiter(trip.price, delimiter: '.') %> x person </p>
        <p><i id="medal-icon" class="fas fa-plane-departure"></i> <%= trip.departure_date.to_formatted_s(:long) %></p>
        <p><i id="medal-icon" class="fas fa-plane-arrival"></i> <%= trip.departure_date.to_formatted_s(:long) %></p>
        <% if trip.reviews.size.positive? %>
            <p>
              <% trip.avarege_rating.times do%>
                <i id="active-star" class="fas fa-star"></i>
              <% end %>
              <% (5 - trip.avarege_rating).times do %>
                <i id="inactive-star" class="fas fa-star"></i>
              <% end %>
            </p>
        <% end %>
        <%= simple_form_for [trip, new_booking] do |f|%>
          <%= f.button :submit, 'Book now!', class: 'btn btn-primary w-100 rounded'%>
        <% end %>
    <% end %>

<% end %>

