<% if trip.captain == current_user %>

    <% if trip.need_approval %>
    <h2><%= trip.days_left %> days to go! </h2>
       <%= link_to "#{trip.need_approval} requets to approve", trips_path, class: 'btn btn-primary my-3'%>
    <% else %>
      <h2><%= trip.days_left %> days to go! </h2>
      <p><%= trip.users.count %> pirate on board!</p>
      <p>No pendindg requests</p>
      <p><%= trip.days_left %> days left! </p>
    <% end %>

<% else %>

    <% if booking %>
      <% if booking.status  %>

        <h2>You are on board!</h2>
        <p><%= trip.days_left %> days left! </p>
        <p>Departure: <%= trip.departure_date %></p>
        <p>Back: <%= trip.departure_date %></p>
        <%= link_to 'Cancel booking', booking_path(booking), { method: :delete }  %>

      <% else %>

      <h2 style="color:$info">Pending</h2>
        <p>Captain <%= trip.captain.first_name %> <%= trip.captain.last_name %> needs to confirm your booking! </p>
        <p><%= trip.days_left %> days left! </p>
        <%= link_to 'Cancel booking', booking_path(booking), { method: :delete }  %>
      <% end %>

    <% else %>

        <h2>Book your trip to <%= trip.planet.name %></h2>
        <p>Price per person: <%= trip.price %> ₿ </p>
        <p>Departure: <%= trip.departure_date %></p>
        <p>Back: <%= trip.departure_date %></p>

        <%= simple_form_for [trip, new_booking] do |f|%>
          <%= f.button :submit, 'Book now!', class: 'btn btn-primary w-100 rounded'%>
        <% end %>
    <% end %>

<% end %>

